# OmniVoice Docker Ignore

# Virtual environments
.venv/
venv/
env/

# Node modules
node_modules/
bun.lockb
.turbo/

# Python caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Databases and user data 
# We don't want to copy existing local data into the image layout!
*.db
*.sqlite
*.sqlite3
omnivoice_data/
frontend/dist/

# Git internals
.git/
.github/

# IDE files
.DS_Store
.vscode/
.idea/
